<!DOCTYPE html>
<html class="x-admin-sm">

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.1</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" href="../../../static/admin/css/font.css">
    <link rel="stylesheet" href="../../../static/admin/css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="../../../static/admin/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../../../static/admin/js/xadmin.js"></script>
    <script type="text/javascript" src="../../../static/admin/js/cookie.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a>
          <cite>导航元素</cite></a>
      </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<div class="x-body">
    <table id="demo" lay-filter="demo"></table>
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">编辑</a>
    </script>
</div>
<script>
    layui.use('table', function(){
        var table = layui.table;
        //第一个实例
        table.render({
            elem: '#demo'
            ,height: 312
            ,url: './goodstype.json' //数据接口
            ,page: true //开启分页
            ,id: 'testReload'
            ,cols: [
                [
                    {field: 'goodstypeid', title: 'ID', width:80, sort: true, fixed: 'left'}
                    ,{field: 'goodstypename', title: '类型', width:80}
                    ,{field: 'parentid', title: '父类型', width: 80, sort: true}
                    ,{field: 'right', title: '操作', width: 300,toolbar: '#barDemo'}
                ]
            ]
        });
        // 监听工具条
        table.on('tool(demo)', function(obj){
            var data = obj.data;
            if(obj.event === 'exit'){
            }
        });
    });

</script>
</body>

</html>