<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xsxlq.market.dao.MyErrorMapper" >
  <resultMap id="BaseResultMap" type="com.xsxlq.market.pojo.MyError" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="t" property="t" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, content, t
  </sql>
  <select id="selectAllSelective" resultMap="BaseResultMap" parameterType="com.xsxlq.market.pojo.MyError" >
    select
    <include refid="Base_Column_List" />
    from my_error
    <where>
      <if test="id !=null and id!=''">
        id = #{id,jdbcType=INTEGER}
      </if>
      <if test="content !=null and content!=''">
        and content LIKE concat(concat('%',#{content}),'%')
      </if>
    </where>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from my_error
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from my_error
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xsxlq.market.pojo.MyError" >
    insert into my_error (id, content, t
      )
    values (#{id,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, #{t,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xsxlq.market.pojo.MyError" >
    insert into my_error
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="t != null" >
        t,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="t != null" >
        #{t,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xsxlq.market.pojo.MyError" >
    update my_error
    <set >
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="t != null" >
        t = #{t,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xsxlq.market.pojo.MyError" >
    update my_error
    set content = #{content,jdbcType=VARCHAR},
      t = #{t,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>