<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xsxlq.market.dao.ShopGoodsMapper" >
  <resultMap id="BaseResultMap" type="com.xsxlq.market.pojo.ShopGoods" >
    <id column="goodsId" property="goodsId" jdbcType="INTEGER" />
    <result column="goodsName" property="goodsName" jdbcType="VARCHAR" />
    <result column="goodsPrice" property="goodsPrice" jdbcType="DOUBLE" />
    <result column="goodsTypeId" property="goodsTypeId" jdbcType="INTEGER" />
    <result column="goodsImg" property="goodsImg" jdbcType="VARCHAR" />
    <result column="goodsDesc" property="goodsDesc" jdbcType="VARCHAR" />
    <result column="goodsExchange" property="goodsExchange" jdbcType="INTEGER" />
    <result column="goodsIntegral" property="goodsIntegral" jdbcType="INTEGER" />
    <result column="goodsDetail" property="goodsDetail" jdbcType="VARCHAR" />
    <result column="goodsIntroduct" property="goodsIntroduct" jdbcType="VARCHAR" />
    <result column="goodsQuality" property="goodsQuality" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    goodsId, goodsName, goodsPrice, goodsTypeId, goodsImg, goodsDesc, goodsExchange, 
    goodsIntegral, goodsDetail, goodsIntroduct, goodsQuality, status
  </sql>

  <select id="selectMyList" resultType="com.xsxlq.market.pojo.ShopGoods">
    select
    goodsId as goodsId,goodsName as goodsName,goodsPrice as goodsPrice
    from shopgoods
    where goodsId in
    <foreach collection="list" item="goodsId" index="index" open="(" close=")" separator=",">
      #{goodsId}
    </foreach>
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from shopgoods
    where goodsId = #{goodsId,jdbcType=INTEGER}
  </select>
  <!--查询所有-->
  <select id="selectAllGoods" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from shopgoods
  </select>

  <!--条件查询-->
  <select id="selectiveGoods" resultMap="BaseResultMap" parameterType="com.xsxlq.market.pojo.ShopGoods">
    select
    <include refid="Base_Column_List" />
    from shopgoods
    <where>
      <if test="goodsId !=null and goodsId!=''">
        goodsId = #{goodsId,jdbcType=INTEGER}
      </if>
      <if test="goodsName !=null and goodsName!=''">
        and goodsName LIKE concat(concat('%',#{goodsName}),'%')
      </if>
      <if test="goodsPrice !=null and goodsPrice!=''">
        and goodsPrice &lt;= #{goodsPrice,jdbcType=DOUBLE}
      </if>
      <if test="goodsTypeId !=null and goodsTypeId !=''">
        and goodsTypeId = #{goodsTypeId,jdbcType=INTEGER}
      </if>
      <if test="goodsQuality !=null and goodsQuality !=''">
        and goodsQuality = #{goodsQuality,jdbcType=INTEGER}
      </if>
    </where>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from shopgoods
    where goodsId = #{goodsId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xsxlq.market.pojo.ShopGoods" >
    insert into shopgoods (goodsId, goodsName, goodsPrice, 
      goodsTypeId, goodsImg, goodsDesc, 
      goodsExchange, goodsIntegral, goodsDetail, 
      goodsIntroduct, goodsQuality)
    values (#{goodsId,jdbcType=INTEGER}, #{goodsName,jdbcType=VARCHAR}, #{goodsPrice,jdbcType=DOUBLE}, 
      #{goodsTypeId,jdbcType=INTEGER}, #{goodsImg,jdbcType=VARCHAR}, #{goodsDesc,jdbcType=VARCHAR}, 
      #{goodsExchange,jdbcType=INTEGER}, #{goodsIntegral,jdbcType=INTEGER}, #{goodsDetail,jdbcType=VARCHAR}, 
      #{goodsIntroduct,jdbcType=VARCHAR}, #{goodsQuality,jdbcType=INTEGER})
  </insert>
  <!--添加返回主键值-->
  <insert id="insertSelectiveReturnPK" parameterType="com.xsxlq.market.pojo.ShopGoods">
    insert into shopgoods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="goodsId != null" >
        goodsId,
      </if>
      <if test="goodsName != null" >
        goodsName,
      </if>
      <if test="goodsPrice != null" >
        goodsPrice,
      </if>
      <if test="goodsTypeId != null" >
        goodsTypeId,
      </if>
      <if test="goodsImg != null" >
        goodsImg,
      </if>
      <if test="goodsDesc != null" >
        goodsDesc,
      </if>
      <if test="goodsExchange != null" >
        goodsExchange,
      </if>
      <if test="goodsIntegral != null" >
        goodsIntegral,
      </if>
      <if test="goodsDetail != null" >
        goodsDetail,
      </if>
      <if test="goodsIntroduct != null" >
        goodsIntroduct,
      </if>
      <if test="goodsQuality != null" >
        goodsQuality,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="goodsId != null" >
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="goodsName != null" >
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsPrice != null" >
        #{goodsPrice,jdbcType=DOUBLE},
      </if>
      <if test="goodsTypeId != null" >
        #{goodsTypeId,jdbcType=INTEGER},
      </if>
      <if test="goodsImg != null" >
        #{goodsImg,jdbcType=VARCHAR},
      </if>
      <if test="goodsDesc != null" >
        #{goodsDesc,jdbcType=VARCHAR},
      </if>
      <if test="goodsExchange != null" >
        #{goodsExchange,jdbcType=INTEGER},
      </if>
      <if test="goodsIntegral != null" >
        #{goodsIntegral,jdbcType=INTEGER},
      </if>
      <if test="goodsDetail != null" >
        #{goodsDetail,jdbcType=VARCHAR},
      </if>
      <if test="goodsIntroduct != null" >
        #{goodsIntroduct,jdbcType=VARCHAR},
      </if>
      <if test="goodsQuality != null" >
        #{goodsQuality,jdbcType=INTEGER},
      </if>
    </trim>
    <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="goodsId">
      SELECT LAST_INSERT_ID()
    </selectKey>
  </insert>
  <!--普通添加-->
  <insert id="insertSelective" parameterType="com.xsxlq.market.pojo.ShopGoods" >
    insert into shopgoods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="goodsId != null" >
        goodsId,
      </if>
      <if test="goodsName != null" >
        goodsName,
      </if>
      <if test="goodsPrice != null" >
        goodsPrice,
      </if>
      <if test="goodsTypeId != null" >
        goodsTypeId,
      </if>
      <if test="goodsImg != null" >
        goodsImg,
      </if>
      <if test="goodsDesc != null" >
        goodsDesc,
      </if>
      <if test="goodsExchange != null" >
        goodsExchange,
      </if>
      <if test="goodsIntegral != null" >
        goodsIntegral,
      </if>
      <if test="goodsDetail != null" >
        goodsDetail,
      </if>
      <if test="goodsIntroduct != null" >
        goodsIntroduct,
      </if>
      <if test="goodsQuality != null" >
        goodsQuality,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="goodsId != null" >
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="goodsName != null" >
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsPrice != null" >
        #{goodsPrice,jdbcType=DOUBLE},
      </if>
      <if test="goodsTypeId != null" >
        #{goodsTypeId,jdbcType=INTEGER},
      </if>
      <if test="goodsImg != null" >
        #{goodsImg,jdbcType=VARCHAR},
      </if>
      <if test="goodsDesc != null" >
        #{goodsDesc,jdbcType=VARCHAR},
      </if>
      <if test="goodsExchange != null" >
        #{goodsExchange,jdbcType=INTEGER},
      </if>
      <if test="goodsIntegral != null" >
        #{goodsIntegral,jdbcType=INTEGER},
      </if>
      <if test="goodsDetail != null" >
        #{goodsDetail,jdbcType=VARCHAR},
      </if>
      <if test="goodsIntroduct != null" >
        #{goodsIntroduct,jdbcType=VARCHAR},
      </if>
      <if test="goodsQuality != null" >
        #{goodsQuality,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xsxlq.market.pojo.ShopGoods" >
    update shopgoods
    <set >
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="goodsName != null" >
        goodsName = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsPrice != null" >
        goodsPrice = #{goodsPrice,jdbcType=DOUBLE},
      </if>
      <if test="goodsTypeId != null" >
        goodsTypeId = #{goodsTypeId,jdbcType=INTEGER},
      </if>
      <if test="goodsImg != null" >
        goodsImg = #{goodsImg,jdbcType=VARCHAR},
      </if>
      <if test="goodsDesc != null" >
        goodsDesc = #{goodsDesc,jdbcType=VARCHAR},
      </if>
      <if test="goodsExchange != null" >
        goodsExchange = #{goodsExchange,jdbcType=INTEGER},
      </if>
      <if test="goodsIntegral != null" >
        goodsIntegral = #{goodsIntegral,jdbcType=INTEGER},
      </if>
      <if test="goodsDetail != null" >
        goodsDetail = #{goodsDetail,jdbcType=VARCHAR},
      </if>
      <if test="goodsIntroduct != null" >
        goodsIntroduct = #{goodsIntroduct,jdbcType=VARCHAR},
      </if>
      <if test="goodsQuality != null" >
        goodsQuality = #{goodsQuality,jdbcType=INTEGER},
      </if>
    </set>
    where goodsId = #{goodsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xsxlq.market.pojo.ShopGoods" >
    update shopgoods
    set goodsName = #{goodsName,jdbcType=VARCHAR},
      goodsPrice = #{goodsPrice,jdbcType=DOUBLE},
      goodsTypeId = #{goodsTypeId,jdbcType=INTEGER},
      goodsImg = #{goodsImg,jdbcType=VARCHAR},
      goodsDesc = #{goodsDesc,jdbcType=VARCHAR},
      goodsExchange = #{goodsExchange,jdbcType=INTEGER},
      goodsIntegral = #{goodsIntegral,jdbcType=INTEGER},
      goodsDetail = #{goodsDetail,jdbcType=VARCHAR},
      goodsIntroduct = #{goodsIntroduct,jdbcType=VARCHAR},
      goodsQuality = #{goodsQuality,jdbcType=INTEGER}
    where goodsId = #{goodsId,jdbcType=INTEGER}
  </update>
</mapper>