<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>

    <h1>hello</h1>
    <!--<span th:text="${hello[0]}"></span>-->
    <!--<table>-->
        <!--<tr th:each="item,i : ${hello}">-->
            <!--<td th:text="${item.id}"></td>-->
            <!--<td th:text="${item.name}"></td>-->
            <!--<td th:text="${item.age}"></td>-->
        <!--</tr>-->
    <!--</table>-->

    <table class="test">
    </table>
</body>
<script>
    $(function(){
        $.post("index","",function(data){
            var i = data.length;
            for(var j = 0;j<i;j++){
                console.log(data[j]);
                var str=`<tr><td>${data[j].goodsid}</td><td>${data[j].goodsname}</td><td></td></tr>`;
                $(".test").append(str);
            }
        },'json')
    })
</script>
</html>
