*,  *:before,  *:after { box-sizing: border-box; margin: 0; padding: 0; }
.container {
    text-align: center;
    position: fixed;
    z-index: 999;
    background: white;
    width: 100%;
    height: 200%;
    opacity: 0.8;
    margin-top: -10%;
    display: none;
}
section {
    width: 100%;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    min-height: 215px;
    height: 100%;
    margin-top: 20%;
}

@media only screen and (max-width: 600px) {
    section { min-width: 350px; }
}
.loader { position: relative; width: 60px; height: 60px; border-radius: 50%; margin: 75px; display: inline-block; vertical-align: middle; }
.loader-star { position: absolute; top: calc(50% - 12px); }
.loader-12 { -webkit-animation: stars-rotate-reverse 2s ease infinite; animation: stars-rotate-reverse 2s ease infinite; }
.loader-12 polygon { fill: #d500f9 !important; }
.loader-12 .loader-star { position: absolute; }
.loader-12 .star1 { top: 0px; right: -7px; }
.loader-12 .star2 { right: 9px; top: -12px; position: absolute; -webkit-transform: scale(0.8); transform: scale(0.8); -webkit-animation: stars-catch 2s 0.1s ease infinite; animation: stars-catch 2s 0.1s ease infinite; }
.loader-12 .star3 { right: 27px; top: -11px; position: absolute; -webkit-transform: scale(0.7); transform: scale(0.7); -webkit-animation: stars-catch 2s 0.15s ease infinite; animation: stars-catch 2s 0.15s ease infinite; }
.loader-12 .star4 { right: 41px; top: -2px; position: absolute; -webkit-transform: scale(0.6); transform: scale(0.6); -webkit-animation: stars-catch 2s 0.2s ease infinite; animation: stars-catch 2s 0.2s ease infinite; }
.loader-12 .star5 { right: 47px; top: 10px; position: absolute; -webkit-transform: scale(0.5); transform: scale(0.5); -webkit-animation: stars-catch 2s 0.25s ease infinite; animation: stars-catch 2s 0.25s ease infinite; }
.loader-12 .star6 { right: 47px; top: 21px; position: absolute; -webkit-transform: scale(0.4); transform: scale(0.4); -webkit-animation: stars-catch 2s 0.3s ease infinite; animation: stars-catch 2s 0.3s ease infinite; }
@-webkit-keyframes stars-rotate-reverse {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes stars-rotate-reverse {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes stars-catch {
    0% {
    }
    25% {
    }
    50% {
    }
    75% {
        top: -2px;
        right: -11px;
        opacity: 0;
    }
    100% {
    }
}
@keyframes stars-catch {
    0% {
    }
    25% {
    }
    50% {
    }
    75% {
        top: -2px;
        right: -11px;
        opacity: 0;
    }
    100% {
    }
}
